/* Basic reset */
body,
h1,
form,
input,
textarea,
button {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --darkest-shade: #2a3417;
  --darker-shade: #3f4a22;
  --base-color: #556b2f;
  --lighter-tint: #758b4d;
  --lightest-tint: #99b27a;
  --extra-lightest-tint: #dbe4d0;
}
/* Body style */
body {
  font-family: Arial, sans-serif;
  background-color: var(--extra-lightest-tint);
  color: #333;
  line-height: 1.6;
  padding: 20px;
}

/* Header style */
h1 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

/* Form style */
form {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: var(--lightest-tint);
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

input[type='text'],
input[type='number'],
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

textarea {
  resize: vertical;
  min-height: 100px;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: darkolivegreen;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}
.back-btn-container {
  margin: 10px 10px;
}
.back-btn {
  display: inline-block; /* Make the anchor behave like a button */
  padding: 10px 15px; /* Add padding for a better click area */
  background-color: var(--base-color); /* Red background */
  color: white; /* White text */
  text-align: center; /* Center the text */
  text-decoration: none; /* Remove underline */
  border-radius: 5px; /* Rounded corners */
  transition: background-color 0.3s; /* Smooth transition for background color */
  border: none; /* No border */
}

.back-btn:hover {
  opacity: 0.8;
}
