/* Loading screen styles */
.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Dark background with transparency */
  display: none; /* Hidden by default */
  align-items: center;
  justify-content: center;
  z-index: 9999;
  font-family: Arial, sans-serif;
}

/* Loader styles */
.loader {
  border: 16px solid #f3f3f3; /* Light grey background */
  border-radius: 50%;
  border-top: 16px solid darkolivegreen; /* Dark olive green spinner */
  width: 120px;
  height: 120px;
  -webkit-animation: spin 1.5s linear infinite; /* Safari */
  animation: spin 1.5s linear infinite; /* Adjusted duration */
}

/* Keyframes for spinning animation */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
